@import 'variables';

.new-entry-datum {
    margin: 5px;
    padding: 5px;
    border-top: 1px solid $color-bg-darker-grey;

    &:first-child {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
    }

    label {
        font-size: 1em;
    }

    textarea, input {
        width: 100%;
    }
}

// To-Do

.drag-option-box {
    position: fixed;
    bottom: 15px;
    right: 0px;
    background-color: $color-pretty-grey;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 9px 0 9px 0;

    .arrow-section {
        height: 100%;
        padding: 11px 9px 11px 9px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: 1px solid black;

        &:hover {
            background-color: $color-pretty-light-grey;
        }
    }

    .option-section {
        padding: 0 9px 0 9px;
    }

    label {
        display: inline-block;
    }
}

// Toilet

.dd-container {
    margin: 0 auto !important;
}

.dd-option-image, .dd-selected-image {
    max-width: 70px !important;
}

.dd-select, .dd-options {
    width: 100% !important;
}
