/* Variables */
/* Variables */
/* Signup & Login */
/* line 4, ../sass/signup.scss */
.logo-img {
  height: 2em;
}

/* line 8, ../sass/signup.scss */
.form-card {
  width: 75%;
  margin: 0 auto;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  padding-bottom: 5px;
}
/* line 15, ../sass/signup.scss */
.form-card .card-header {
  background: #c6c6c4;
  font-size: 1.5em;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}
/* line 24, ../sass/signup.scss */
.form-card input {
  width: 95%;
  line-height: 1.5;
  margin-bottom: 10px;
}
/* line 30, ../sass/signup.scss */
.form-card label {
  font-weight: bold;
  text-align: left;
  margin: 0;
}
/* line 36, ../sass/signup.scss */
.form-card label, .form-card input {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 41, ../sass/signup.scss */
.form-card p {
  font-size: 0.8em;
  margin-top: 5px;
  margin-bottom: 0;
}

/* Variables */
/* line 3, ../sass/navbar.scss */
.dropdown-label {
  cursor: pointer;
}

/* line 7, ../sass/navbar.scss */
.navbar {
  margin-bottom: 10px;
}

/* Universal Styles */
/* line 6, ../sass/main.scss */
html, body, .app {
  height: 100%;
}

/* line 8, ../sass/main.scss */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #d8d8d6;
  text-align: center;
  color: #231f20;
}

/* line 15, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 19, ../sass/main.scss */
.text-75 {
  font-size: 0.75em;
}

/* Index Styles */
/* line 24, ../sass/main.scss */
.button {
  width: 85px;
  height: 85px;
  display: inline-block;
  margin: 5px;
  color: black;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 5px 0px #333333;
  -moz-box-shadow: 0px 0px 5px 0px #333333;
  box-shadow: 0px 0px 5px 0px #333333;
}
/* line 38, ../sass/main.scss */
.button:hover {
  filter: brightness(110%);
}
/* line 42, ../sass/main.scss */
.button:active, .button:visited, .button:hover {
  color: black;
}
/* line 46, ../sass/main.scss */
.button .button-icon {
  font-size: 2.5em;
  display: block;
  font-weight: bold;
  margin-top: 5px;
}
/* line 52, ../sass/main.scss */
.button .button-icon .fas {
  margin-bottom: 10px;
}
/* line 57, ../sass/main.scss */
.button .button-label {
  font-size: 0.8em;
  display: block;
  font-weight: bold;
}

/* line 64, ../sass/main.scss */
#table-bottom-header {
  background-color: #b5c0d1;
  font-weight: bold;
  font-size: 1.1em;
}
/* line 69, ../sass/main.scss */
#table-bottom-header #col-overview-date {
  width: 100px;
}
/* line 70, ../sass/main.scss */
#table-bottom-header #col-overview-highlights {
  width: 300px;
}
/* line 71, ../sass/main.scss */
#table-bottom-header #col-overview-summary {
  width: 300px;
}
/* line 72, ../sass/main.scss */
#table-bottom-header #col-overview-rating {
  width: 35px;
}
/* line 73, ../sass/main.scss */
#table-bottom-header #col-health-sleep {
  width: 45px;
}
/* line 74, ../sass/main.scss */
#table-bottom-header #col-health-exercise {
  width: 60px;
}
/* line 75, ../sass/main.scss */
#table-bottom-header #col-health-food {
  width: 90px;
}
/* line 76, ../sass/main.scss */
#table-bottom-header #col-health-toilet {
  width: 50px;
}
/* line 77, ../sass/main.scss */
#table-bottom-header #col-health-period {
  width: 40px;
}
/* line 78, ../sass/main.scss */
#table-bottom-header #col-health-sex {
  width: 30px;
}
/* line 79, ../sass/main.scss */
#table-bottom-header #col-productivity-money {
  width: 60px;
}
/* line 80, ../sass/main.scss */
#table-bottom-header #col-productivity-todo {
  width: 300px;
}
/* line 81, ../sass/main.scss */
#table-bottom-header #col-productivity-learn {
  width: 140px;
}
/* line 82, ../sass/main.scss */
#table-bottom-header #col-productivity-memory {
  width: 140px;
}
/* line 83, ../sass/main.scss */
#table-bottom-header #col-art-literature {
  width: 140px;
}
/* line 84, ../sass/main.scss */
#table-bottom-header #col-art-film {
  width: 140px;
}
/* line 85, ../sass/main.scss */
#table-bottom-header #col-art-television {
  width: 140px;
}
/* line 86, ../sass/main.scss */
#table-bottom-header #col-art-boardgame {
  width: 140px;
}
/* line 87, ../sass/main.scss */
#table-bottom-header #col-art-videogame {
  width: 140px;
}
/* line 88, ../sass/main.scss */
#table-bottom-header #col-art-music {
  width: 130px;
}
/* line 89, ../sass/main.scss */
#table-bottom-header #col-art-podcast {
  width: 140px;
}
/* line 90, ../sass/main.scss */
#table-bottom-header #col-art-beer {
  width: 140px;
}
/* line 91, ../sass/main.scss */
#table-bottom-header #col-art-wine {
  width: 140px;
}
/* line 92, ../sass/main.scss */
#table-bottom-header #col-art-cheese {
  width: 140px;
}

/* line 95, ../sass/main.scss */
#summary {
  margin-bottom: 20px;
}

/* line 99, ../sass/main.scss */
#summary-table-container {
  overflow-x: scroll;
}

/* line 103, ../sass/main.scss */
#summary-table {
  border-collapse: collapse;
  border: 1px solid #8892a0;
  table-layout: fixed;
  width: 100%;
  font-size: 0.75em;
  margin-bottom: 5px;
}
/* line 111, ../sass/main.scss */
#summary-table th {
  padding: 5px;
  border-right: 1px solid #8892a0;
}
/* line 116, ../sass/main.scss */
#summary-table td {
  padding: 5px;
  background-color: #d3dbe8;
  border-right: 1px solid #8892a0;
  border-bottom: 1px solid #b9c1ce;
  overflow: hidden;
}
/* line 126, ../sass/main.scss */
#summary-table td:hover {
  overflow: auto;
}
/* line 132, ../sass/main.scss */
#summary-table tr:hover td {
  background-color: #ccd3e0;
}

/* line 137, ../sass/main.scss */
#date-agnostic-element-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 142, ../sass/main.scss */
#date-agnostic-element-container .button {
  width: 50px;
  height: 50px;
  display: block;
}
/* line 147, ../sass/main.scss */
#date-agnostic-element-container .button .button-icon {
  margin-top: -5px;
  font-size: 3em;
}
/* line 152, ../sass/main.scss */
#date-agnostic-element-container .button .button-label {
  font-size: 0.7em;
}

/* line 158, ../sass/main.scss */
.button-container {
  width: 80%;
  margin: 0 auto;
}

/* Object Page Styles */
/* line 165, ../sass/main.scss */
.new-entry-form {
  border: 1px solid #b2b2b2;
  background-color: #e0e0de;
  margin: 5px auto;
  width: 65%;
  padding: 5px;
}

/* line 173, ../sass/main.scss */
label {
  display: block;
  font-weight: bold;
}

/* line 178, ../sass/main.scss */
#home-button {
  display: block;
  text-decoration: none;
  background-color: #8c4a4a;
  color: black;
  padding: 10px;
  width: 20px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* line 189, ../sass/main.scss */
#home-button:hover {
  filter: brightness(125%);
}

/* line 193, ../sass/main.scss */
#button-section {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* line 199, ../sass/main.scss */
#settings-section {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
}

/* line 205, ../sass/main.scss */
#settings-button {
  display: block;
  text-decoration: none;
  background-color: #738db7;
  color: inherit;
  padding: 10px;
  width: 20px;
  border-radius: 50%;
}

/* line 215, ../sass/main.scss */
#settings-button:hover {
  filter: brightness(125%);
}

/* line 219, ../sass/main.scss */
.clickable {
  cursor: pointer;
}

/* line 223, ../sass/main.scss */
.heavy-icon {
  font-weight: bold;
  font-size: 1.4em;
}

/* line 228, ../sass/main.scss */
.edit-icon {
  font-size: 1.1em;
  padding: 3px;
}
/* line 232, ../sass/main.scss */
.edit-icon:hover {
  background-color: #b2b2b2;
  border-radius: 5px;
}

/* line 238, ../sass/main.scss */
.object-list {
  display: inline-block;
  text-align: left;
  width: 85%;
}

/* line 244, ../sass/main.scss */
.object-list-flex {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: left;
  width: 70%;
}

/* line 251, ../sass/main.scss */
.invisible {
  display: none;
}

/* line 255, ../sass/main.scss */
.details-dropdown {
  background-color: #efefef;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

/* line 262, ../sass/main.scss */
.waiting-on {
  font-size: 0.65em;
  font-weight: 600;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 269, ../sass/main.scss */
.details-dropdown label {
  font-size: 0.75em;
  margin: 5px;
}

/* line 273, ../sass/main.scss */
.details-dropdown textarea {
  width: 75%;
  vertical-align: middle;
}

/* line 278, ../sass/main.scss */
.pursuit {
  font-size: 1.2em;
}

/* line 282, ../sass/main.scss */
.details-buttons {
  text-align: right;
}

/* line 285, ../sass/main.scss */
.details-button {
  font-size: 0.75em;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  border: 1px solid grey;
}

/* line 294, ../sass/main.scss */
.task-waiting {
  background-color: #ccccc9;
}

/* line 298, ../sass/main.scss */
.task-completed {
  color: #b7b7b5;
}

/* line 303, ../sass/main.scss */
.task-completed:hover {
  color: #878787;
}

/* line 307, ../sass/main.scss */
#settings-pursuits {
  margin-top: 15px;
  font-size: .8em;
}

/* line 312, ../sass/main.scss */
#filters {
  border: 1px solid grey;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 320, ../sass/main.scss */
h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

/* line 326, ../sass/main.scss */
.food-item {
  background-color: #e0e0de;
  padding: 5px;
  margin: 5px;
}

/* line 332, ../sass/main.scss */
.food-time, .food-calories, .food-cost, .food-rating, .food-location {
  font-size: 0.75em;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid grey;
}

/* line 339, ../sass/main.scss */
.food-location {
  border-right: none;
}

/* line 343, ../sass/main.scss */
.food-name {
  margin-left: 50px;
  padding-top: 5px;
}

/* line 348, ../sass/main.scss */
.item-top-detail {
  font-size: 0.75em;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid grey;
}
/* line 354, ../sass/main.scss */
.item-top-detail:last-of-type {
  border-right: none;
}

/* line 359, ../sass/main.scss */
.item-main-body {
  background-color: #e0e0de;
  padding: 5px;
  margin: 5px;
}

/* line 365, ../sass/main.scss */
.item-3-col {
  width: 33%;
  display: inline-block;
}

/* line 370, ../sass/main.scss */
.item-body-element {
  margin-left: 50px;
  padding-top: 5px;
}

/* line 375, ../sass/main.scss */
.art-review {
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 40px;
  white-space: pre-wrap;
  padding: 10px;
}

/* line 382, ../sass/main.scss */
.quiz * {
  padding: 10px;
  text-decoration: none;
}

/* line 387, ../sass/main.scss */
.project-header {
  margin-bottom: 10px;
  margin-top: 5px;
}

/* line 391, ../sass/main.scss */
.project-name {
  font-size: 1.4em;
  font-weight: bold;
}

/* line 395, ../sass/main.scss */
.project-pursuit {
  font-size: 0.8em;
}

/* line 398, ../sass/main.scss */
.detail-column-25 {
  display: inline-block;
  width: 20%;
}

/* line 402, ../sass/main.scss */
.pursuit-details-display {
  padding: 25px;
  font-size: 0.75em;
}

/* line 407, ../sass/main.scss */
.pursuit-details-entry {
  font-size: 0.8em;
  margin-left: 25px;
  width: 50%;
  border: 1px solid #cccccc;
}

/* line 414, ../sass/main.scss */
.bristol-image {
  width: 300px;
}

/* line 417, ../sass/main.scss */
.negamoney {
  color: red;
}

/* line 420, ../sass/main.scss */
.todo-project {
  font-size: 0.8em;
  float: right;
}

/* line 425, ../sass/main.scss */
.todo-item:hover {
  background-color: #c6c6c4;
}

/* line 429, ../sass/main.scss */
.todo-name {
  font-size: 0.9em;
}

/* line 432, ../sass/main.scss */
.todo-rank {
  font-size: 0.5em;
}

/* line 436, ../sass/main.scss */
.inline-label {
  display: inline;
}

/* line 440, ../sass/main.scss */
.draggable {
  cursor: move;
  /* fallback: no `url()` support or images disabled */
  cursor: url(images/grab.cur);
  /* fallback: Internet Explorer */
  cursor: -webkit-grab;
  /* Chrome 1-21, Safari 4+ */
  cursor: -moz-grab;
  /* Firefox 1.5-26 */
  cursor: grab;
  /* W3C standards syntax, should come least */
}

/* line 447, ../sass/main.scss */
.draggable:active {
  cursor: url(images/grabbing.cur);
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/* line 454, ../sass/main.scss */
.vue-star-rating {
  display: inline-block !important;
}

/* TODO STYLES */
/* line 460, ../sass/main.scss */
.blink {
  font-size: 0.8em;
  animation: blink_effect 2s linear infinite;
  opacity: 1;
}

@keyframes blink_effect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* AUTOCOMPLETE */
/* line 479, ../sass/main.scss */
.autocomplete {
  position: relative;
  font-weight: normal;
  font-size: 1em;
  width: 100%;
}

/* line 486, ../sass/main.scss */
.autocomplete-results {
  background-color: white;
  padding: 0;
  margin: 0 auto;
  width: 200px;
  border: 1px solid #eeeeee;
  height: 120px;
  overflow: auto;
}

/* line 496, ../sass/main.scss */
.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

/* line 504, ../sass/main.scss */
.autocomplete-result.is-active,
.autocomplete-result:hover {
  background-color: #4AAE9B;
  color: white;
}

/* line 510, ../sass/main.scss */
.fooditem {
  width: 300px;
}

/* NUTRITION FACTS */
/* line 515, ../sass/main.scss */
.nutrition-label {
  background-color: white;
  font-family: 'Arimo',Arial, Helvetica, sans-serif;
  border: 1px solid black;
  text-align: left;
  display: inline-block;
  padding: 0 5px 5px 5px;
}
/* line 523, ../sass/main.scss */
.nutrition-label .divider-large {
  background-color: black;
  height: 10px;
  margin: 3px 0 3px 0;
}
/* line 528, ../sass/main.scss */
.nutrition-label .divider-small {
  background-color: black;
  height: 4px;
  margin: 3px 0 3px 0;
}
/* line 533, ../sass/main.scss */
.nutrition-label h1 {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin',Arial, Helvetica, sans-serif;
  font-weight: 900;
}
/* line 539, ../sass/main.scss */
.nutrition-label input {
  width: 30px;
}
/* line 542, ../sass/main.scss */
.nutrition-label .wider-input {
  width: 100px;
}
/* line 545, ../sass/main.scss */
.nutrition-label .nutrition-line {
  border-top: 1px solid black;
}
/* line 548, ../sass/main.scss */
.nutrition-label .nutrition-subline {
  font-size: 0.9em;
  border-top: 1px solid black;
  padding-left: 10px;
}
/* line 553, ../sass/main.scss */
.nutrition-label .nutrition-subsubline {
  font-size: 0.9em;
  border-top: 1px solid black;
  padding-left: 20px;
}
/* line 558, ../sass/main.scss */
.nutrition-label .nutrition-notes {
  font-size: 0.6em;
  overflow-wrap: normal;
  width: 240px;
}

/* line 565, ../sass/main.scss */
#app {
  height: 100%;
}

/* line 568, ../sass/main.scss */
#travel-section {
  height: 100%;
}

/* line 571, ../sass/main.scss */
#map {
  margin: 20px auto;
  text-align: center;
  min-width: 200px;
  min-height: 200px;
  width: 60%;
  height: 90%;
  border: 1px solid grey;
}

/*
.low-priority {
    margin-top: 20px;
    border-top: 1px solid $color-bg-darkest-grey;
}
.low-priority ~ .low-priority {
    margin-top: inherit;
    border-top: inherit;
}
.medium-priority {
    margin-top: 20px;
    border-top: 1px solid $color-bg-darkest-grey;
}
.medium-priority ~ .medium-priority {
    margin-top: inherit;
    border-top: inherit;
}
.high-priority {
    margin-top: 20px;
    border-top: 1px solid $color-bg-darkest-grey;
}
.high-priority ~ .high-priority {
    margin-top: inherit;
    border-top: inherit;
}
.task-completed {
    margin-top: 20px;
    border-top: 1px solid $color-bg-darkest-grey;
}
.task-completed ~ .task-completed {
    margin-top: inherit;
    border-top: inherit;
}
*/
