/* Variables */
/* Signup & Login */
/* line 4, ../sass/navbar.scss */
.navbar-brand > img {
  height: 1.5em;
  display: inline;
}

/* line 9, ../sass/navbar.scss */
.dropdown-label {
  cursor: pointer;
}
